/* CSS reset */
* { /* Todos os elementos */
    padding: 0;
    margin: 0;
    
    /*Exmplos de família sem serifa
    font-family: 'Calibri', 'Arial', sans; */

    /*Exmplos de família sem serifa
    font-family: 'Times New Roman', serif; */
}

header {
    background-color: #550000;
    padding: 10px 20px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav {
    background-color: #FF7F2A;
    color: #FFFFFF
}